header 
  .header 
    a(href='#') 
      img(src="images/logo.svg" alt='err')
    nav 
      ul.nav 
        li.nav-item 
          a(href="").nav-link.active Home
        li.nav-item   
          a(href="").nav-link TV Shows
        li.nav-item    
          a(href="").nav-link Movies 
        li.nav-item  
          a(href="").nav-link Series 
    ul.control
      li.control-item
        button.control-btn.control-btn_search
      li.control-item
        button.control-btn.control-btn_notice
      li.control-item
        button.control-btn.control-btn_account