@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
$color_bg: black;
$color_text: white;
$grad: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
$font_size: 16px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: $color_bg ;
    color: $color_text;
    font-size: $font_size;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 144rem;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;

    &-item {
        margin: 0 1.5rem;
    }

    &-link {
        text-decoration: none;
        font-weight: 700;
        color: rgb($color_text, 0.5);

        &::after {
            content: '';
            opacity: 0;
            display: block;
            height: 0.2rem;
            margin-top: 0.5rem;
            border-radius: 5rem;
            color: $grad;
        }

        &.active {
            color: rgb($color_text, 1);

            &::after {
                opacity: 1;
            }
        }
    }
}

.control {
    display: flex;
    align-items: center;
    list-style-type: none;
    background-size: cover;
    background-position: center;
    padding-left: 0;

    &-item {
        margin-left: 7.5rem;
    }

    &-btn {
        background-color: transparent;
        border: none;
        background-repeat: no-repeat;
        background-position: center;


        &_search {
            background-image: url(/src/images/serch.svg);
            width: 1.8rem;
            height: 1.8rem;
        }

        &_account {
            background-image: url(/src/images/account.svg);
            width: 1.8rem;
            height: 1.9rem;
        }

        &_notice {
            background-image: url(/src/images/notize.svg);
            width: 2.1rem;
            height: 2.3rem;
        }
    }
}

.section-banner {
    border-bottom: 0.1rem solid #2F2E2E;
    position: relative;
    overflow: hidden;
    &__image{
        position: absolute;
        right: 0;
        z-index: -1;
    }
}

.banner {
    max-width: 56.2rem;
    padding-top: 12.2rem;
    padding-bottom: 20.3rem;

    &__title {
        font-family: 'Marcellus', serif;
        font-size: 8rem;
        line-height: 7rem;
        margin-left: 85px;
        margin-bottom: 39px;
    }

    &__text {
        color: #C2C2C2;
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-left: 86px;
        margin-top: 32px;
    }

    &-info {
        font-weight: 800;
        margin-left: 85px;

        &__year {
            margin-right: 1.8rem;
        }

        &__age {
            margin-right: 1.8rem;
            width: 6rem;
            display: inline-block;
            text-align: center;
            position: relative;

            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 2.4rem;
                background-image: url(/src/images/age.svg);
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: calc(50% - 1.2rem);
                left: 0;
                right: 0;
            }
        }

        &__time {
            margin-right: 4.1rem;
        }

        &__rating {
            margin-right: 22.4rem;
            position: relative;
            &::after {
                content: '';
                display:inline-block;
                width: 1.6rem;
                height: 1.6rem;
                background-image: url(/src/images/rating.svg);
                background-repeat: no-repeat;
                position: absolute;
                margin-left: 3px;
                top: calc(50% - 0.8rem)
            }
        }
    }
    &-control{
        margin-left: 85px;
        &__btn{
            background-color: transparent;
            border: none;
            border-radius: 10rem;
            padding: 1.5rem 3rem;
            font-family: "Marcellus" , sans-serif;
            font-weight: 800;
            margin-top: 35px;
            cursor: pointer;
        }
        &__btn-main{
            color: $grad;
            color: $color_text;
            position: relative;
            padding-left: 6rem;
            margin-right: 30px;
            &::after{
                content: '';
                display: block;
                width: 1.4rem;
                height: 1.8rem;
                background-image: url(/src/images/rating.svg);
                position: absolute;
                left: 3rem;
                top: calc(50% - 0.9rem);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        &__btn-more{
            background-color: $color_text;
            color: #323232;


        }
    }
}
// .banner-control__btn-main{
//     margin-top: 5rem;
//     margin-left: 11.5rem;
//     background-image: url(/src/images/Watch_rect.svg);
// }
// .banner-control__btn-more{
//     margin-left: 6rem;
//     margin-right: 22.4rem;
//     background-image: url(/src/images/INF_rect.svg);
// }