@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 144rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-item {
  margin: 0 1.5rem;
}
.nav-link {
  text-decoration: none;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}
.nav-link::after {
  content: "";
  opacity: 0;
  display: block;
  height: 0.2rem;
  margin-top: 0.5rem;
  border-radius: 5rem;
  color: $grad;
}
.nav-link.active {
  color: white;
}
.nav-link.active::after {
  opacity: 1;
}

.control {
  display: flex;
  align-items: center;
  list-style-type: none;
  background-size: cover;
  background-position: center;
  padding-left: 0;
}
.control-item {
  margin-left: 7.5rem;
}
.control-btn {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}
.control-btn_search {
  background-image: url(/src/images/serch.svg);
  width: 1.8rem;
  height: 1.8rem;
}
.control-btn_account {
  background-image: url(/src/images/account.svg);
  width: 1.8rem;
  height: 1.9rem;
}
.control-btn_notice {
  background-image: url(/src/images/notize.svg);
  width: 2.1rem;
  height: 2.3rem;
}

.section-banner {
  border-bottom: 0.1rem solid #2F2E2E;
  position: relative;
  overflow: hidden;
}
.section-banner__image {
  position: absolute;
  right: 0;
  z-index: -1;
}

.banner {
  max-width: 56.2rem;
  padding-top: 12.2rem;
  padding-bottom: 20.3rem;
}
.banner__title {
  font-family: "Marcellus", serif;
  font-size: 8rem;
  line-height: 7rem;
  margin-left: 85px;
  margin-bottom: 39px;
}
.banner__text {
  color: #C2C2C2;
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-left: 86px;
  margin-top: 32px;
}
.banner-info {
  font-weight: 800;
  margin-left: 85px;
}
.banner-info__year {
  margin-right: 1.8rem;
}
.banner-info__age {
  margin-right: 1.8rem;
  width: 6rem;
  display: inline-block;
  text-align: center;
  position: relative;
}
.banner-info__age::before {
  content: "";
  display: block;
  width: 100%;
  height: 2.4rem;
  background-image: url(/src/images/age.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: calc(50% - 1.2rem);
  left: 0;
  right: 0;
}
.banner-info__time {
  margin-right: 4.1rem;
}
.banner-info__rating {
  margin-right: 22.4rem;
  position: relative;
}
.banner-info__rating::after {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(/src/images/rating.svg);
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 3px;
  top: calc(50% - 0.8rem);
}
.banner-control {
  margin-left: 85px;
}
.banner-control__btn {
  background-color: transparent;
  border: none;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  font-family: "Marcellus", sans-serif;
  font-weight: 800;
  margin-top: 35px;
  cursor: pointer;
}
.banner-control__btn-main {
  color: $grad;
  color: white;
  position: relative;
  padding-left: 6rem;
  margin-right: 30px;
}
.banner-control__btn-main::after {
  content: "";
  display: block;
  width: 1.4rem;
  height: 1.8rem;
  background-image: url(/src/images/rating.svg);
  position: absolute;
  left: 3rem;
  top: calc(50% - 0.9rem);
  background-repeat: no-repeat;
  background-size: contain;
}
.banner-control__btn-more {
  background-color: white;
  color: #323232;
}/*# sourceMappingURL=style.css.map */