- let pageTitle = 'online-tv'


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= pageTitle
        style
           include styles/style.css
    body 
        include modules/header
 
        section.section-banner 
              img(src='/src/images/banner.png',alt='error').section-banner__image
              .container   
                    .banner 
                        h1.banner__title  Zack Snyder's Justice League
                        .banner-info 
                                span.banner-info__year 2021
                                span.banner-info__age 18+
                                span.banner-info__time 4h 2min
                                span.banner-info__rating 8.8
                        p.banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
                        .banner-control 
                            button.banner-control__btn.banner-control__btn-main Watch
                            button.banner-control__btn.banner-control__btn-more More information
        include modules/footer    